/* Fontes do site */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Variáveis de cores do site */
:root {
    --primary-color: #0d6031;
    --secondary-color: #5f9074;
    --tertiary-color: black;
    --quaternary-color: #00ff4c;
    --organizador-color: rgb(76, 76, 78);
    --background-color: #e0ecef;
    --background-box-color: #dfdfdf;
    --botao-preto-color: black;
    --botao-emerg-color: #ff5757;
}

/*
EM CADA ID/CLASSE, AS CATEGORIAS ESTÃO SEPARADAS NESSA ORDEM:

-> POSICIONAMENTO
-> TAMANHO
-> ESPAÇAMENTO
-> CORES
-> FONTES/TEXTO
-> VISIBILIDADE
-> ANIMAÇÕES/TRANSIÇÕES

*/

/* Global */
* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* Body */
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: var(--background-color);
    
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

/* Header (base.html)*/
#header-usuario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a2a2a;
    color: #fff;
    padding: 25px 40px;
    position: relative;
}

.logo-container {
    height: 90px;

}

#header-usuario .logo-container img {
    height: 90px;
}
/* Header 2 (base2.html) */
#header-usuario-2 {
    display: flex;
    position: relative;
    justify-content: center; 
    align-items: center;

    padding: 40px;

    background-color: #2a2a2a;
    color: #fff;
}

#header-usuario-2 .logo-container-2 img {
    justify-content: center;
    height: 90px;
}

/* Header - navegação*/
nav {
    flex: 2;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease;
}

nav a:hover,
nav a.ativo {
    color: var(--quaternary-color);
    border-color: var(--quaternary-color);
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

/* Header - Info de usuários */
.usuario-icon-container {
    position: relative;
    cursor: pointer;
}

.usuario-icon-container img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--primary-color);
    border: 2px solid white;
    transition: transform 0.3s ease;
}

.usuario-icon-container img:hover {
    transform: scale(1.05);
}

.info-usuario-container {
    position: absolute;
    top: 60px;
    right: 0;
    width: 320px;
    padding: 15px;
    background-color: white;
    color: var(--tertiary-color);
    border: 3px solid var(--primary-color);
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 10;
}

.usuario-icon-container:hover .info-usuario-container {
    opacity: 1;
    visibility: visible;
}

.info-usuario-container h2 {
    color: var(--primary-color);
    font-size: 18px;
    margin-bottom: 8px;
}

.info-usuario-container p {
    margin: 4px 0;
    font-size: 14px;
}

.info-usuario-container button {
    margin-top: 8px;
    padding: 6px 12px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.info-usuario-container button:hover {
    background-color: var(--botao-preto-color);
}

.info-usuario-container a {
    display: inline-block;
    margin: 0;
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

/* Footer (Rodapé, tambem nos arquivos bases) */
#footer-container {
    padding: 50px 0;
    margin-top: 200px;

    background-color: #2a2a2a;
    color: #fff;

    text-align: center;
}

#footer-container .footer-info {
    display: flex;
    flex-direction: column;

    max-width: 1200px;

    margin: 0 auto;
    padding: 0 20px;
    gap: 20px;
}

#footer-container .footer-info a {
    color: white;
    text-decoration: none;
}

#footer-container .footer-info a:hover {
    color: white;
    text-decoration: underline;
}

.footer-email {
    align-items: center;
    gap: 10px; 
}

/* Icon de email */
.footer-email img {
    display: inline-block;
    vertical-align: middle;
}

/* Links de navegação do footer */
#footer-container .footer-links {
    display: flex;
    justify-content: center;
    
    padding: 0;
    margin-top: 10px;
    gap: 20px;

    list-style: none;
}

#footer-container .footer-links li a {
    color: white;
    text-decoration: none;
}

#footer-container .footer-links li a:hover {
    color: white;
    text-decoration: underline;
}

.logo-container-footer {
    margin-top: 30px; 
}
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

/* RESPONSIVIDADE DO HEADER E DO FOOTER */

@media (max-width: 1025px) {

    /* HEADER 2 */
    #header-usuario-2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 45px;
        text-align: center;
    }

    #header-usuario-2 .logo-container-2 img {
        height: 70px;
    }

    
    /* FOOTER 1 */
    #footer-container {
        margin-top: 100px;
        padding: 40px 0;
    }

    #footer-container .footer-info {
        flex-direction: column;
        text-align: center;
        gap: 15px;
        padding: 0 15px;
    }

    .footer-email {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
        font-size: 0.9rem;
    }

    #footer-container .footer-links {
        flex-direction: column;
        gap: 10px;
    }

    .logo-container-footer {
        margin-top: 20px;
    }

    .logo-container-footer img {
        width: 90px;
    }
}


/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

/* Cadastro de usuários (home.html) */
.cadastroUsu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1100px;
    width: 95%;

    margin: 60px auto;
    padding: 25px;

    background-color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    gap: 30px;
}

.formulario-cadastroUsu {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.cadastroUsu-titulo {
    color: var(--primary-color);
    text-align: center;
}

.form-cadastroUsu-linha {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.form-cadastroUsu-grupo {
    display: flex;
    flex-direction: column;
}

.form-cadastroUsu-grupo label {
    margin-bottom: 6px;
    font-weight: 600;
}

.form-cadastroUsu-grupo input,
.form-cadastroUsu-grupo select {
    width: 220px;
    padding: 15px;
    background-color: var(--background-box-color);
    border-radius: 10px;
    border: none;
    font-size: 14px;
    outline: none;
}

.botao-enviar-cadastroUsu {
    display: flex;
    justify-content: center;
}

#botao-enviar-cadastroUsu {
    width: 145px;
    margin-top: 30px;
    padding: 15px 25px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#botao-enviar-cadastroUsu:hover {
    background-color: var(--botao-emerg-color);
    transform: scale(1.05);
}

.ja-possui-conta {
    flex: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ja-possui-conta h1 {
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
}

.ja-possui-conta a {
    padding: 10px 40px;
    color: white;
    border: 3px solid white;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transform: scale(1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.ja-possui-conta a:hover {
    background-color: var(--botao-preto-color);
    border-color: var(--botao-preto-color);
    transform: scale(1.05);
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

/* Login de usuários (login.html) */

.login-container {
    max-width: 450px;
    width: 90%;
    margin: 40px auto 100px auto;
    padding: 50px 70px;
    background-color: white;
    border: 10px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.login-titulo {
    margin-bottom: 30px;
    color: var(--primary-color);
    text-align: center;
}

.login-titulo h1 {
    font-size: 32px;
    font-weight: 700;
}

.formulario-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.form-login-grupo {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 330px;
    background-color: var(--background-box-color);
    border-radius: 10px;
    padding-right: 10px;
}

.form-login-grupo input {
    width: 100%;
    padding: 15px;
    background-color: var(--background-box-color);
    border-radius: 10px;
    border: none;
    font-size: 14px;
    outline: none;
}

#botao-entrar-login {
    align-self: center;
    width: 160px;
    margin-top: 25px;
    padding: 12px 25px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#botao-entrar-login:hover {
    background-color: var(--botao-preto-color);
    transform: scale(1.05);
}


/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

/* Editar perfil de usuário (editar_usuario.html) */

/* Editar perfil USU - Tela */
.editar-perfil-container {
    max-width: 1200px;
    width: 530px;

    margin: 40px auto;
    padding: 50px 70px;

    background-color: white;
    border: 10px solid var(--primary-color);
    border-radius: 7px;
    
    box-shadow: 0 4px 15px black;
}

/* Editar perfil USU - Título */
.editar-perfil-titulo {
    margin-bottom: 30px;
    color: var(--primary-color);
    text-align: center;
}

/* Editar perfil USU - Formulário de envio */
.formulario-editar-perfil {
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 20px;
}

.formulario-editar-perfil label {
    display: inline-block;
    white-space: nowrap;
    
    margin-bottom: 6px;

    font-weight: 600;
}

.formulario-editar-perfil input {
    width: 370px;

    padding: 15px;

    background-color: var(--background-box-color);

    border-radius: 10px;
    border: none;

    font-size: 14px;
    outline: none;
}

/* Editar perfil USU - Botão de salvar alterações */
.botao-salvar-editar-perfil button {
    align-self: self-start;

    width: 180px;

    margin-top: 30px;
    padding: 10px 20px;
    
    background-color: var(--primary-color);
    color: white;

    border: none;
    border-radius: 10px;

    font-weight: bold;
    cursor: pointer;

    transform: scale(1);
    transition: transform 1s ease, background-color 0.3s ease; 
}

.botao-salvar-editar-perfil button:hover {
    background-color: var(--botao-emerg-color);
    transform: scale(1.1);
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

/* Deletar perfil (deletar_usuario.html) */

.deletar-perfil-container {
    max-width: 1200px;
    width: 530px;

    margin: 40px auto;
    padding: 50px 70px;

    background-color: white;

    border: 10px solid var(--primary-color);
    border-radius: 7px;

    box-shadow: 0 4px 15px black;
}

/* Deletar Perfil - Título */
.deletar-perfil-titulo {
    margin-bottom: 30px;
    color: var(--primary-color);
    text-align: center;
}

/* Deletar Perfil - Formulário de Envio */ 
.formulario-deletar-perfil {
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 20px;
}

.formulario-deletar-perfil label {
    display: inline-block;
    white-space: nowrap;

    margin-bottom: 6px;

    font-weight: 600;
}

.formulario-deletar-perfil input {
    width: 370px;

    padding: 15px;

    background-color: var(--background-box-color);

    border-radius: 10px;
    border: none;

    font-size: 14px;
    outline: none;
}

/* Deletar Perfil - Botão de confirmar deleção */ 

.botao-salvar-deletar-perfil button {
    align-self: self-start;

    width: 180px;

    margin-top: 30px;
    padding: 10px 20px;
    
    background-color: var(--primary-color);
    color: white;
    
    border: none;
    border-radius: 10px;

    font-weight: bold;
    cursor: pointer;

    transform: scale(1);
    transition: transform 1s ease, background-color 0.3s ease; 
}

.botao-salvar-deletar-perfil button:hover {
    background-color: var(--botao-emerg-color);
    transform: scale(1.1);
}

/* Deletar Perfil - Botão para voltar para página anterior */ 

.botao-voltar a {
    width: 180px;

    padding: 10px 20px;
    
    background-color: var(--primary-color);
    color: white;

    border: none;
    border-radius: 10px;

    text-decoration: none;
    font-weight: bold;
    cursor: pointer;

    transform: scale(1);
    transition: transform 1s ease, background-color 0.3s ease; 
}

.botao-voltar a:hover {
    background-color: var(--botao-emerg-color);
    transform: scale(1.1);
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

/* Cadastro de Eventos (eventos.html) */
.evento-container {
    max-width: 1200px;
    width: 900px;

    padding: 30px 40px;
    margin: 40px auto;
    margin-top: 100px;

    background-color: white;

    border: 10px solid var(--tertiary-color);
    border-radius: 7px;
    
    box-shadow: 0 4px 15px black;
}

/* Cadastro de Eventos - Título */
.cadastro-titulo {
    margin-bottom: 30px;

    color: var(--tertiary-color);

    text-align: center;
}

.cadastro-titulo h1 {
    font-size: 32px;
    font-weight: 700;
}

/* Cadastro de Eventos - Formulário */
.formulario {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

/* Cadastro de Eventos - Cada linha de inputs */
.form-linha {
    display: flex;
    flex-wrap: wrap;

    gap: 20px;
}

/* Cadastro de Eventos - Cada grupo de inputs nas linhas */
.form-grupo {
    display: flex;
    flex-direction: column;
}

.form-grupo label {
    display: inline-block;
    white-space: nowrap;

    margin-bottom: 6px;

    font-weight: 600;
}

.form-grupo input {
    padding: 15px;

    background-color: var(--background-box-color);
    border-radius: 10px;
    border: none;

    font-size: 14px;
    outline: none;
}

/* Cadastro de Eventos - Botão de enviar evento */
.botao-enviar{
    display: flex;
    justify-content: center;

    margin-top: 20px;
}

#botao-enviar {
    align-self: flex-start;

    padding: 10px 25px;

    background-color: var(--tertiary-color);
    color: white;

    border: none;
    border-radius: 10px;

    font-weight: bold;
    cursor: pointer;

    transform: scale(1);
    transition: transform 1s ease, background-color 0.3s ease; 
}

#botao-enviar:hover {
    background-color: var(--botao-emerg-color);
    transform: scale(1.1);
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

/* Eventos disponíveis (eventosU.html) */
.eventosDisp-container {
    max-width: 1000px;

    margin: 40px auto;
    margin-top: 100px;
    padding: 20px 40px;

    background-color: white;

    border: 10px solid var(--primary-color);
    border-radius: 7px;
    
    box-shadow: 0 4px 15px black;
}

/* Eventos disponíveis - Título */
.eventosDisp-titulo {
    margin-bottom: 30px;

    color: var(--primary-color);

    text-align: center;
}

.eventosDisp-titulo h1 {
    font-size: 32px;
    font-weight: 700;
}

/* Eventos disponíveis - Tela de eventos */
.eventosDisp-quadro {
    padding: 15px;

    background-color: var(--secondary-color);

    border-radius: 10px;
}

/* Eventos disponíveis - Lista de cada evento */
.eventos-lista {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 20px;
}

/* Eventos disponíveis - Informações sobre cada evento */
.eventos-itens {
    padding: 15px;

    background-color: white;
   
    border-radius: 10px;
}

.eventos-itens h3 {
    margin-bottom: 10px;

    font-size: 20px;
    text-align: center;
}

.eventos-itens p {
    margin: 5px 0;
}

.eve-btn {
    display: flex;
    justify-content: center;
}         

/* Eventos disponíveis - Botão de se inscrever no evento*/
.eventos-inscricao-btn {
    padding: 10px 20px;
    
    background-color: var(--primary-color);
    color: white;
    
    border: none;
    border-radius: 10px;
    
    font-weight: bold;
    cursor: pointer;

    transform: scale(1);
    transition: transform 1s ease, background-color 0.3s ease; 
}

.eventos-inscricao-btn:hover {
    background-color: var(--botao-preto-color);
    transform: scale(1.1);
}

.evento-imagem img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.evento-botoes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.botao-detalhe {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.botao-detalhe:hover {
    background-color: var(--botao-preto-color);
    transform: scale(1.1);
}

/* Modal de detalhes */
.evento-modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow-y: auto;
}

.evento-modal-conteudo {
    background-color: white;
    margin-top: 80px;
    padding: 20px 30px;
    border: 5px solid var(--quaternary-color);
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    animation: slideDown 0.4s ease;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
    position: relative;
}

/* Botão X */
.fechar-modal {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: color 0.2s;
}

.fechar-modal:hover {
    color: var(--primary-color);
}

/* Animação do modal */
@keyframes slideDown {
    from {
        transform: translateY(-40px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

/* Emissão de certificados (certificados.html) */

.emissao-certi-container {
    max-width: 1000px;

    padding: 20px 40px;
    margin: 40px auto;
    margin-top: 100px;

    background-color: var(--organizador-color);

    border: 10px solid var(--tertiary-color);
    border-radius: 7px;
    
    box-shadow: 0 4px 15px black;
}

/* Emissão de certificados - Título */
.emissao-certi-titulo {
    margin-bottom: 30px;

    color: white;

    text-align: center;
}

.emissao-certi-titulo h1 {
    font-size: 32px;
    font-weight: 700;
}

/* Emissão de certificados - Tela de certificados para emitir */
.emissao-certi-quadro {
    padding: 15px;

    background-color: var(--tertiary-color);

    border-radius: 10px;
}

/* Emissão de certificados - Lista de eventos com certificados para emitir */
.eventos-lista {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 20px;
}

.eventos-itens {
    padding: 15px;

    background-color: white;
    
    border-radius: 10px;
}

.eventos-itens h3 {
    margin-bottom: 10px;

    text-align: center;
    font-size: 20px;
}

.eventos-itens p {
    margin: 5px 0;
}

/* Emissão de certificados - Posição do botão de emitir */ 
.botao-ctf {
    display: flex;
    justify-content: center;
}         

/* Emissão de certificados - Design do botão de emitir */ 
.botao-emissao-ctf {
    margin-top: 10px;
    padding: 10px 20px;

    background-color: var(--botao-emerg-color);
    color: white;
    
    border: none;
    border-radius: 10px;

    font-weight: bold;
    cursor: pointer;

    transform: scale(1);
    transition: transform 1s ease, background-color 0.3s ease; 
}

.botao-emissao-ctf:hover {
    background-color: var(--botao-preto-color);
    transform: scale(1.1);
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

/* Tabela de todos os eventos - (visu_eventos.html) */
.todos-eventos-container {
    width: 1500px;
    max-width: 1560px;
    padding: 20px 40px;

    margin: 40px auto;
    margin-top: 100px;

    background-color: #fff;
    
    border: 10px solid var(--tertiary-color);
    border-radius: 7px;
    
    box-shadow: 0 4px 15px black;
}

/* Tabela de todos os eventos - Título */
.tabela-eventos-titulo {
    margin-bottom: 30px;

    color: var(--tertiary-color);

    text-align: center;
}

.tabela-eventos-titulo h1 {
    font-size: 32px;
    font-weight: 700;
}

/* Tabela de todos os eventos - Borda de tabela */
.todos-eventos-tabela {
    border-collapse: collapse;
}

.todos-eventos-tabela th {
    padding: 20px 15px;

    background-color: var(--organizador-color);
    color: #ffffff;
    
    text-align: center;
    font-size: 14px;
}

/* Tabela de todos os eventos -Estilização das linhas */
.todos-eventos-tabela td {
    padding: 5px 15px;

    border-bottom: 1.5px solid var(--organizador-color);

    text-align: center;
    font-size: 14px;
}

.todos-eventos-tabela tr:hover {
    background-color: var(--background-box-color)
}

/* Tabela de todos os eventos - Botões de editar e deletar eventos */
.todos-eventos-tabela a.botao-tabela-eventos {
    display: inline-block;

    width: 80px;

    padding: 8px 15px;
    margin: 5px;

    color: #ffffff;
    border-radius: 4px;

    text-decoration: none;
    font-size: 14px;
    
    transition: background-color 0.3s ease;
}

.todos-eventos-tabela a.botao-tabela-eventos {
    background-color: var(--botao-preto-color);
}

.todos-eventos-tabela a.botao-tabela-eventos:hover {
    background-color: var(--botao-emerg-color);
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

/* Tabela de todos os usuários - (usuarios.html) */
.todos-usuarios-container {
    width: 1100px;

    margin: 40px auto;
    margin-top: 100px;
    padding: 30px 40px;

    background-color: #fff;
    
    border: 10px solid var(--tertiary-color);
    border-radius: 7px;
    
    box-shadow: 0 4px 15px black;
}

/* Tabela de todos os usuários - Título */
.tabela-usuarios-titulo {
    margin-bottom: 30px;

    color: var(--tertiary-color);

    text-align: center;
}

.tabela-usuarios-titulo h1 {
    font-size: 32px;
    font-weight: 700;
}

/* Tabela de todos os usuários - Borda de tabela */
.todos-usuarios-tabela {
    border-collapse: collapse;
}

.todos-usuarios-tabela th {
    padding: 20px 15px;

    background-color: var(--organizador-color);
    color: #ffffff;
    
    text-align: center;
    font-size: 14px;
}

/* Tabela de todos os usuários -Estilização das linhas */
.todos-usuarios-tabela td {
    padding: 14px 15px;

    border-bottom: 1.5px solid var(--organizador-color);

    text-align: center;
    font-size: 14px;
}

.todos-usuarios-tabela tr:hover {
    background-color: var(--background-box-color)
}

/* Tabela de todos os usuários - Botão de deletar usuários */
.todos-usuarios-tabela a.botao-tabela-usuarios {
    display: inline-block;

    padding: 8px 15px;
    margin: 5px;

    border-radius: 4px;
    color: #ffffff;

    text-decoration: none;
    font-size: 14px;

    transition: background-color 0.3s ease;
}

.todos-usuarios-tabela a.botao-tabela-usuarios {
    background-color: var(--botao-preto-color);
}

.todos-usuarios-tabela a.botao-tabela-usuarios:hover {
    background-color: var(--botao-emerg-color);
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

/* Certificados do usuário - (meus_certificados.html) */
.meus-certificados-container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 15px;

    background-color: none;
}

/* Certificados do usuário - Título */
.meus-certificados-titulo {
    width: 750px;

    margin: 40px auto;

    text-align: center;
}

.meus-certificados-titulo h1 {
    color: var(--tertiary-color);

    text-align: center;
}

/* Certificados do usuário - Lista de certificados */
.meus-certificados-lista {
    display: grid;

    gap: 50px;
}

/* Certificados do usuário - Infos do certificados */
.meus-certificados-itens {
    justify-content: column;

    padding: 15px;

    background-color: white;

    border: var(--primary-color) 12px solid;
    box-shadow: 0 4px 15px black;
}

.meus-certificados-itens h1 {
    color: var(--primary-color);

    text-align: center;
    font-size: 40px;
}

.certificado-texto {
    width: 600px;

    margin: 40px auto;
}

.meus-certificados-itens p {
    text-align: center;
    font-size: 20px;
}

/* Certificados do usuário - Nome do participante */
.certificado-participante {
    width: 600px;

    margin: 40px auto;
}

.certificado-participante h2 {
    border-bottom: 2px solid var(--tertiary-color);

    text-align: center;
    font-family: 'Allura';
    font-size: 35px;
}

/* Certificados do usuário - Imagem logo Casa de Atena */
.logo-assinatura {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.certificado-logo img {
    height: 80px;

    margin-left: 50px;
}

/* Certificados do usuário - Assinatura do responsável */
.certificado-assinatura {
    width: 350px;

    margin-right: 50px;
}

.certificado-assinatura h1 {
    font-size: 20px;
}

.certificado-assinatura h2 {
    border-bottom: 2px solid var(--tertiary-color);

    text-align: center;
    font-family: 'Allura';
    font-size: 35px;
}

/* Certificados do usuário - Caso não tenha certificados ainda */
.zero-certificados {
    text-align: center;
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

/* Botões do Organizador - (começa em certificados.html) */
.botoes-organizador {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    
    max-width: 1100px;
    width: 95%;

    margin: 50px auto 0 auto;
    padding: 20px 40px;
}

.botao-organizador a {
    display: inline-block;
    min-width: 150px;
    padding: 13px 25px;

    color: white;
    background-color: var(--tertiary-color);

    border: none;
    border-radius: 8px;

    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;

    transform: scale(1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.botao-organizador a:hover {
    background-color: var(--botao-emerg-color);
    transform: scale(1.05);
}


/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

/* RESPONSIVIDADE - CELULAR */

@media (max-width: 768px) {

    /* CADASTRO DE USUÁRIOS */
    .cadastroUsu-container {
        flex-direction: column;
        align-items: center;
        width: 90%;
        padding: 20px;
    }

    .formulario-cadastroUsu {
        width: 100%;
        padding: 20px;
        align-items: stretch;
    }

    .form-cadastroUsu-linha {
        flex-direction: column;
        gap: 15px;
    }

    .form-cadastroUsu-grupo input,
    .form-cadastroUsu-grupo select {
        width: 100% !important;
    }

    .ja-possui-conta {
        margin-top: 25px;
        padding: 15px;
    }

    .ja-possui-conta h1 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .ja-possui-conta a {
        width: 100%;
        max-width: 200px;
    }


    /* LOGIN */
    .botoes-organizador {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        padding: 10px;
        margin-top: 30px;
        gap: 10px;
    }

    .botao-organizador a {
        width: 100%;
        max-width: 250px;
        font-size: 18px;
        padding: 12px 15px;
    }

    .login-container {
        width: 90%;
        padding: 30px 20px;
        border-width: 6px;
        margin-top: 40px;
    }

    .login-titulo h1 {
        font-size: 26px;
    }

    .formulario-login {
        gap: 25px;
    }

    .form-login-grupo {
        width: 100%;
        padding-right: 10px;
    }

    .form-login-grupo input {
        font-size: 15px;
    }

    #botao-entrar-login {
        width: 100%;
        max-width: 250px;
        font-size: 17px;
    }


    /* HEADER PRINCIPAL */
    #header-usuario {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        text-align: center;
    }

    .logo-container {
        order: 1;
        margin-bottom: 10px;
    }

    .logo-container img {
        height: 75px;
    }

    nav {
        order: 2;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    nav ul {
        flex-direction: column;
        gap: 15px;
    }

    nav a {
        font-size: 17px;
    }

    .usuario-icon-container {
        order: 3;
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .info-usuario-container {
        position: absolute;
        top: 60px;
        right: 50%;
        transform: translateX(50%);
        width: 300px;
        opacity: 0;
        visibility: hidden;
    }

    
    /* EVENTOS DISPONIVEIS */
    .eventosDisp-container {
        max-width: 95%;
        margin: 20px auto;
        padding: 15px;
        border-width: 6px;
    }

    .eventosDisp-titulo h1 {
        font-size: 24px;
    }

    .eventos-lista {
        grid-template-columns: 1fr;
        gap: 55px;
    }

    .eventos-itens {
        padding: 10px;
    }

    .evento-imagem img {
        height: 180px;
    }

    .evento-botoes {
        flex-direction: column;
        gap: 10px;
    }

    .eventos-inscricao-btn,
    .botao-detalhe {
        padding: 10px;
        font-size: 16px;
    }

    .evento-modal-conteudo {
        width: 90%;
        padding: 15px;
        margin-top: 60px;
    }

    .fechar-modal {
        font-size: 24px;
        right: 15px;
    }
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

/* RESPONSIVIDADE TABLET */

@media (min-width: 768px) and (max-width: 1181px) {

    /*CADASTRO DE USUARIOS*/
    .cadastroUsu-container {
        flex-direction: row;
        align-items: stretch;
        width: 95%;
        padding: 20px;
        gap: 20px;
    }

    .formulario-cadastroUsu {
        width: 60%;
        padding: 25px;
    }

    .form-cadastroUsu-linha {
        flex-wrap: wrap;
        gap: 15px;
        align-self: stretch;
    }

    .form-cadastroUsu-grupo input,
    .form-cadastroUsu-grupo select {
        width: 100%;
        max-width: 100%;
    }

    .ja-possui-conta {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .ja-possui-conta h1 {
        font-size: 22px;
    }


    /* LOGIN */
    .botoes-organizador {
        justify-content: flex-start;
        width: 90%;
        padding: 20px 40px;
        gap: 30px;
    }

    .botao-organizador a {
        font-size: 19px;
        padding: 13px 25px;
    }

    .login-container {
        width: 70%;
        max-width: 550px;
        padding: 45px 60px;
    }

    .form-login-grupo {
        width: 100%;
        max-width: 350px;
    }

    .login-titulo h1 {
        font-size: 30px;
    }

    #botao-entrar-login {
        font-size: 17px;
        width: 180px;
    }


    /* HEADER PRINCIPAL */
    #header-usuario {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        text-align: center;
    }

    .logo-container {
        order: 1;
        margin-bottom: 10px;
    }

    .logo-container img {
        height: 75px;
    }

    nav {
        order: 2;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    nav ul {
        flex-direction: column;
        gap: 15px;
    }

    nav a {
        font-size: 17px;
    }

    .usuario-icon-container {
        order: 3;
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .info-usuario-container {
        position: absolute;
        top: 60px;
        right: 50%;
        transform: translateX(50%);
        width: 300px;
        opacity: 0;
        visibility: hidden;
    }
 
    
    /* EVENTOS DISPONIVEIS */
    .eventosDisp-container {
        max-width: 90%;
        margin: 30px auto;
        padding: 20px;
    }

    .eventosDisp-titulo h1 {
        font-size: 28px;
    }

    .eventos-lista {
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

    .evento-imagem img {
        height: 220px;
    }

    .eventos-inscricao-btn,
    .botao-detalhe {
        font-size: 15px;
        padding: 10px 15px;
    }

    .evento-modal-conteudo {
        width: 80%;
        max-width: 600px;
    }
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

/* RESPONSIVIDADE TELA MAIOR DE IPAD */

@media (min-width: 1024px) and (max-width: 1366px) {

    /*CADASTRO DE USUARIOS*/
    .cadastroUsu-container {
        margin-top: 130px;
        max-width: 1000px;
        padding: 35px;
        gap: 25px;
    }

    .formulario-cadastroUsu {
        width: 58%;
        padding: 25px;
    }

    .form-cadastroUsu-grupo input,
    .form-cadastroUsu-grupo select {
        width: 100%;
        max-width: 100%;
    }

    .ja-possui-conta {
        width: 42%;
        text-align: center;
    }

    .ja-possui-conta h1 {
        font-size: 24px;
    }


    /* LOGIN */
    .login-container {
        width: 60%;
        max-width: 500px;
        padding: 50px 60px;
        border-width: 8px;
    }

    .form-login-grupo {
        width: 100%;
        max-width: 380px;
    }

    .login-titulo h1 {
        font-size: 32px;
    }

    #botao-entrar-login {
        font-size: 18px;
        width: 180px;
    }


    /* HEADER PRINCIPAL */
    #header-usuario {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        text-align: center;
    }

    .logo-container {
        order: 1;
        margin-bottom: 10px;
    }

    .logo-container img {
        height: 75px;
    }

    nav {
        order: 2;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    nav ul {
        flex-direction: column;
        gap: 15px;
    }

    nav a {
        font-size: 17px;
    }

    .usuario-icon-container {
        order: 3;
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .info-usuario-container {
        position: absolute;
        top: 60px;
        right: 50%;
        transform: translateX(50%);
        width: 300px;
        opacity: 0;
        visibility: hidden;
    }
}


