/* --------> Fontes do site */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


/* --------> Variáveis de cores do site */
:root {
    --primary-color: #2a553d;
    --secondary-color: #5f9074;
    --tertiary-color: black;
    --quaternary-color: #00ff4c;
    --organizador-color: rgb(76, 76, 78);
    --background-color: #e0ecef;
    --background-box-color: #dfdfdf;
    --botao-preto-color: black;
    --botao-emerg-color: #ff5757;
}

/* --------> Animações utilizadas */

/* slide pra baixo */
@keyframes slideDown { 
    from {
        transform: translateY(-40px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/*
EM CADA ID/CLASSE, AS CATEGORIAS ESTÃO SEPARADAS NESSA ORDEM (ORGANIZAÇÃO AINDA INCOMPLETA!!!!!: 

-> POSICIONAMENTO
-> TAMANHO
-> ESPAÇAMENTO
-> CORES
-> FONTES/TEXTO
-> VISIBILIDADE
-> ANIMAÇÕES/TRANSIÇÕES

*/


/* --------> Global */
* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


/* --------> Body */
body {
    min-height: 100vh;

    margin: 0;
    padding: 0;

    background: var(--background-color);
    
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */


/* --------> Header principal */
#header-usuario {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 25px 40px;

    background-color: #2a2a2a;
}

.logo-container {
    height: 90px;
}

#header-usuario .logo-container img {
    height: 90px;
}


/* --------> Header 2 */
#header-usuario-2 {
    display: flex;
    position: relative;
    justify-content: center; 
    align-items: center;

    padding: 40px;

    background-color: #2a2a2a;
}

#header-usuario-2 .logo-container-2 img {
    justify-content: center;
    height: 90px;
}

/* --------> Header navegação */
nav {
    flex: 2;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;

    gap: 30px;
    padding: 0;
    margin: 0;

    list-style: none;
}

nav a {
    color: white;

    font-weight: 600;
    font-size: 18px;
    text-decoration: none;

    border-bottom: 3px solid transparent;

    transition: all 0.3s ease;
}

nav a:hover,
nav a.ativo {
    color: var(--quaternary-color);
    border-color: var(--quaternary-color);
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */


/* --------> Header - Info de usuários */

.usuario-icon-container {
    position: relative;
    cursor: pointer;
}

.usuario-icon-container img {
    width: 45px;
    height: 45px;

    background-color: var(--primary-color);

    border: 2px solid white;
    border-radius: 50%;

    transition: transform 0.3s ease;
}

.usuario-icon-container img:hover {
    transform: scale(1.05);
}

.info-usuario-container {
    position: absolute;
    z-index: 10;

    width: 320px;

    top: 60px;
    right: 0;
    padding: 15px;

    background-color: white;
    color: var(--tertiary-color);

    border: 3px solid var(--primary-color);
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    opacity: 0;
    visibility: hidden;

    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.usuario-icon-container:hover .info-usuario-container {
    opacity: 1;
    visibility: visible;
}

.info-usuario-container h2 {
    color: var(--primary-color);

    font-size: 18px;

    margin-bottom: 8px;
}

.info-usuario-container p {
    margin: 4px 0;
    font-size: 14px;
}

.info-usuario-container button {
    margin-top: 8px;
    padding: 6px 12px;

    background-color: var(--primary-color);
    color: white;

    font-size: 14px;

    border: none;
    border-radius: 6px;

    cursor: pointer;

    transition: background-color 0.3s ease;
}

.info-usuario-container button:hover {
    background-color: var(--botao-preto-color);
}

.info-usuario-container a {
    display: inline-block;
    margin: 0;
}


/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */


/* --------> Footer (também está nos arquivos base/base2.html) */
#footer-container {
    padding: 50px 0;
    margin-top: 200px;

    background-color: #2a2a2a;
    color: #fff;

    text-align: center;
}

#footer-container .footer-info {
    display: flex;
    flex-direction: column;

    max-width: 1200px;

    margin: 0 auto;
    padding: 0 20px;
    gap: 20px;
}

#footer-container .footer-info a {
    color: white;
    text-decoration: none;
}

#footer-container .footer-info a:hover {
    color: white;
    text-decoration: underline;
}

.footer-email {
    align-items: center;
    gap: 10px; 
}

.footer-email img {
    display: inline-block;
    vertical-align: middle;
}

#footer-container .footer-links {
    display: flex;
    justify-content: center;
    
    padding: 0;
    margin-top: 10px;
    gap: 20px;

    list-style: none;
}

#footer-container .footer-links li a {
    color: white;
    text-decoration: none;
}

#footer-container .footer-links li a:hover {
    color: white;
    text-decoration: underline;
}

.logo-container-footer {
    margin-top: 30px; 
}


/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */


/* --------> RESPONSIVIDADE DO HEADER 2 E DO FOOTER */
@media (max-width: 1025px) {

    /* HEADER 2 */
    #header-usuario-2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 45px;

        text-align: center;
    }

    #header-usuario-2 .logo-container-2 img {
        height: 70px;
    }

    
    /* FOOTER 1 */
    #footer-container {
        margin-top: 100px;
        padding: 40px 0;
    }

    #footer-container .footer-info {
        flex-direction: column;
        text-align: center;
        gap: 15px;
        padding: 0 15px;
    }

    .footer-email {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
        font-size: 0.9rem;
    }

    #footer-container .footer-links {
        flex-direction: column;
        gap: 10px;
    }

    .logo-container-footer {
        margin-top: 20px;
    }

    .logo-container-footer img {
        width: 90px;
    }
}


/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */


/* --------> Cadastro de usuários */
.cadastroUsu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1100px;
    width: 95%;

    margin: 60px auto;
    padding: 25px;

    background-color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    gap: 30px;
}

.formulario-cadastroUsu {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    gap: 20px;
    padding: 30px;

    background-color: white;

    border-radius: 10px;
}

.cadastroUsu-titulo {
    color: var(--primary-color);
    text-align: center;
}

.form-cadastroUsu-linha {
    display: flex;
    flex-wrap: wrap;

    gap: 40px;
}

.form-cadastroUsu-grupo {
    display: flex;
    flex-direction: column;
}

.form-cadastroUsu-grupo label {
    margin-bottom: 6px;
    font-weight: 600;
}

.form-cadastroUsu-grupo input,
.form-cadastroUsu-grupo select {
    width: 220px;

    padding: 15px;

    font-size: 14px;
    
    background-color: var(--background-box-color);

    border-radius: 10px;
    border: none;
    
    outline: none;
}

.botao-enviar-cadastroUsu {
    display: flex;
    justify-content: center;
}

#botao-enviar-cadastroUsu {
    width: 145px;

    margin-top: 30px;
    padding: 15px 25px;

    background-color: var(--primary-color);
    color: white;

    font-size: 18px;
    font-weight: bold;

    border: none;
    border-radius: 10px;

    cursor: pointer;

    transform: scale(1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#botao-enviar-cadastroUsu:hover {
    background-color: var(--botao-emerg-color);
    transform: scale(1.05);
}

.ja-possui-conta {
    flex: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.ja-possui-conta h1 {
    margin-bottom: 20px;

    color: white;

    font-size: 25px;
}

.ja-possui-conta a {
    padding: 10px 40px;

    color: white;

    text-decoration: none;
    font-size: 18px;
    font-weight: bold;

    border: 3px solid white;
    border-radius: 10px;

    transform: scale(1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.ja-possui-conta a:hover {
    background-color: var(--botao-preto-color);

    border-color: var(--botao-preto-color);

    transform: scale(1.05);
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

/* --------> Login de usuários */
.login-container {
    max-width: 450px;
    width: 90%;

    margin: 40px auto 100px auto;
    padding: 50px 70px;

    background-color: white;

    border: 10px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.login-titulo {
    margin-bottom: 30px;

    color: var(--primary-color);

    text-align: center;
}

.login-titulo h1 {
    font-size: 32px;
    font-weight: 700;
}

.formulario-login {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 35px;
}

.form-login-grupo {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 330px;

    border-radius: 10px;
    padding-right: 10px;

    background-color: var(--background-box-color);
}

.form-login-grupo input {
    width: 100%;

    padding: 15px;

    background-color: var(--background-box-color);

    font-size: 14px;

    border-radius: 10px;
    border: none;
    outline: none;
}

#botao-entrar-login {
    align-self: center;

    width: 160px;

    margin-top: 25px;
    padding: 12px 25px;

    background-color: var(--primary-color);
    color: white;

    font-size: 18px;
    font-weight: bold;

    border: none;
    border-radius: 10px;
    cursor: pointer;
    
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#botao-entrar-login:hover {
    background-color: var(--botao-preto-color);
    transform: scale(1.05);
}


/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */


/* --------> Editar perfil de usuário */
.editar-perfil-container {
    max-width: 1200px;
    width: 530px;

    margin: 40px auto;
    padding: 50px 70px;

    background-color: white;
    border: 10px solid var(--primary-color);
    border-radius: 7px;
    
    box-shadow: 0 4px 15px black;
}

.editar-perfil-titulo {
    margin-bottom: 30px;

    color: var(--primary-color);

    text-align: center;
}

.formulario-editar-perfil {
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 20px;
}

.formulario-editar-perfil label {
    display: inline-block;
    white-space: nowrap;
    
    margin-bottom: 6px;

    font-weight: 600;
}

.formulario-editar-perfil input {
    width: 370px;

    padding: 15px;

    background-color: var(--background-box-color);

    border-radius: 10px;
    border: none;

    font-size: 14px;
    outline: none;
}

.botao-salvar-editar-perfil button {
    align-self: self-start;

    width: 180px;

    margin-top: 30px;
    padding: 10px 20px;
    
    background-color: var(--primary-color);
    color: white;

    border: none;
    border-radius: 10px;

    font-weight: bold;
    cursor: pointer;

    transform: scale(1);
    transition: transform 1s ease, background-color 0.3s ease; 
}

.botao-salvar-editar-perfil button:hover {
    background-color: var(--botao-emerg-color);
    transform: scale(1.1);
}


/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */


/* --------> Deletar perfil*/
.deletar-perfil-container {
    max-width: 1200px;
    width: 530px;

    margin: 40px auto;
    padding: 50px 70px;

    background-color: white;

    border: 10px solid var(--primary-color);
    border-radius: 7px;

    box-shadow: 0 4px 15px black;
}

.deletar-perfil-titulo {
    margin-bottom: 30px;

    color: var(--primary-color);

    text-align: center;
}

.formulario-deletar-perfil {
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 20px;
}

.formulario-deletar-perfil label {
    display: inline-block;
    white-space: nowrap;

    margin-bottom: 6px;

    font-weight: 600;
}

.formulario-deletar-perfil input {
    width: 370px;

    padding: 15px;

    background-color: var(--background-box-color);

    border-radius: 10px;
    border: none;

    font-size: 14px;
    outline: none;
}

.botao-salvar-deletar-perfil button {
    align-self: self-start;

    width: 180px;

    margin-top: 30px;
    padding: 10px 20px;
    
    background-color: var(--primary-color);
    color: white;
    
    border: none;
    border-radius: 10px;

    font-weight: bold;
    cursor: pointer;

    transform: scale(1);
    transition: transform 1s ease, background-color 0.3s ease; 
}

.botao-salvar-deletar-perfil button:hover {
    background-color: var(--botao-emerg-color);
    transform: scale(1.1);
}

.botao-voltar a {
    width: 180px;

    padding: 10px 20px;
    
    background-color: var(--primary-color);
    color: white;

    border: none;
    border-radius: 10px;

    text-decoration: none;
    font-weight: bold;
    cursor: pointer;

    transform: scale(1);
    transition: transform 1s ease, background-color 0.3s ease; 
}

.botao-voltar a:hover {
    background-color: var(--botao-emerg-color);
    transform: scale(1.1);
}


/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */


/* --------> Cadastro de Eventos */
.evento-container {
    max-width: 1200px;
    width: 90%;
    padding: 30px 40px;
    margin: 40px auto;
    margin-top: 100px;
    background-color: white;
    border: 10px solid var(--tertiary-color);
    border-radius: 7px;
    box-shadow: 0 4px 15px black;
}

.cadastro-titulo {
    margin-bottom: 30px;
    color: var(--tertiary-color);
    text-align: center;
}

.cadastro-titulo h1 {
    font-size: 32px;
    font-weight: 700;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-linha {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-grupo {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 250px;
}

.form-grupo label {
    margin-bottom: 6px;
    font-weight: 600;
}

.form-grupo input {
    padding: 15px;
    background-color: var(--background-box-color);
    border-radius: 10px;
    border: none;
    font-size: 14px;
    outline: none;
}

.botao-enviar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#botao-enviar {
    padding: 10px 25px;
    background-color: var(--tertiary-color);
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1);
    transition: transform 1s ease, background-color 0.3s ease;
}

#botao-enviar:hover {
    background-color: var(--botao-emerg-color);
    transform: scale(1.1);
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

/* --------> Eventos disponíveis */
.eventosDisp-container {
    max-width: 1000px;

    margin: 40px auto;
    margin-top: 100px;
    padding: 20px 40px;

    background-color: var(--primary-color);

    border-radius: 7px;
    
    box-shadow: 0 5px 10px black;
}

.eventosDisp-titulo {
    margin-bottom: 30px;

    color: white;

    text-align: center;
}

.eventosDisp-titulo h1 {
    font-size: 32px;
    font-weight: 700;
}

.eventosDisp-quadro {
    padding: 15px;
    border-radius: 10px;
    
}

.eventos-lista {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 20px;
}

.eventos-itens {
    padding: 15px;

    background-color: white;
   
    border-radius: 10px;
}

.eventos-itens h3 {
    margin-bottom: 10px;

    font-size: 20px;
    text-align: center;
}

evento-imagem,
.eventos-itens > div i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 215px; 
    width: 100%;
    background-color: rgb(218, 218, 218); 
    border-radius: 10px;
}

.eventos-itens > div i {
    color: var(--organizador-color);
}

.eve-btn {
    display: flex;
    justify-content: center;
}         

.eventos-inscricao-btn, .botao-detalhe {
    padding: 10px 20px;
    
    background-color: var(--tertiary-color);
    color: white;
    
    border: none;
    border-radius: 10px;
    
    font-weight: bold;
    cursor: pointer;

    transform: scale(1);
    transition: transform 1s ease, background-color 0.3s ease; 
}

.eventos-inscricao-btn:hover, .botao-detalhe:hover {
    background-color: var(--secondary-color);
    transform: scale(1.1);
}

.evento-imagem img {
    height: 200px;

    width: 100%;

    margin-bottom: 10px;

    object-fit: cover;
    border-radius: 10px;
}

.evento-botoes {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 10px;
}

.evento-modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow-y: auto;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.6);
}

.evento-modal-conteudo {
    background-color: white;
    margin-top: 80px;
    padding: 20px 30px;
    border: 8px solid var(--quaternary-color);
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    animation: slideDown 0.4s ease;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
    position: relative;
}

.evento-modal-conteudo p {
    margin: 10px 0;
    line-height: 1.8;
}

.fechar-modal {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: color 0.2s;
}

.fechar-modal:hover {
    color: var(--primary-color);
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */


/* --------> Emissão de certificados */
.emissao-certi-container {
    max-width: 1000px;

    padding: 20px 40px;
    margin: 40px auto;
    margin-top: 100px;

    background-color: var(--organizador-color);

    border: 10px solid var(--tertiary-color);
    border-radius: 7px;
    
    box-shadow: 0 4px 15px black;
}

.emissao-certi-titulo {
    margin-bottom: 30px;

    color: white;

    text-align: center;
}

.emissao-certi-titulo h1 {
    font-size: 32px;
    font-weight: 700;
}

.emissao-certi-quadro {
    padding: 15px;

    border-radius: 10px;
}

.eventos-lista {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 20px;
}

.eventos-itens {
    padding: 15px;

    background-color: white;
    
    border-radius: 10px;
}

.eventos-itens h3 {
    margin-bottom: 10px;

    text-align: center;
    font-size: 20px;
}

.eventos-itens p {
    margin: 5px 0;
}

.botao-ctf {
    display: flex;
    justify-content: center;
}         

.botao-emissao-ctf {
    margin-top: 10px;
    padding: 10px 20px;

    background-color: var(--botao-emerg-color);
    color: white;
    
    border: none;
    border-radius: 10px;

    font-weight: bold;
    cursor: pointer;

    transform: scale(1);
    transition: transform 1s ease, background-color 0.3s ease; 
}

.botao-emissao-ctf:hover {
    background-color: var(--botao-preto-color);
    transform: scale(1.1);
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

/* ------> Tabela todos os eventos */
.todos-eventos-container {
    width: 90%;
    max-width: 1200px;
    margin: 60px auto;
    padding: 20px 30px;
    background-color: #fff;
    border: 8px solid var(--tertiary-color);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.tabela-eventos-titulo {
    margin-bottom: 25px;
    color: var(--tertiary-color);
    text-align: center;
}

.tabela-eventos-titulo h1 {
    font-size: 32px;
    font-weight: 700;
}

.todos-eventos-tabela {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.todos-eventos-tabela th {
    background-color: var(--organizador-color);
    color: #fff;
    padding: 15px 10px;
    text-align: center;
    font-weight: 600;
}

.todos-eventos-tabela td {
    padding: 12px 10px;
    border-bottom: 1.5px solid var(--organizador-color);
    text-align: center;
}

.todos-eventos-tabela tr:hover {
    background-color: var(--background-box-color);
}

.botao-detalhe-tabela-evento {
    background-color: var(--botao-preto-color);
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.botao-detalhe-tabela-evento:hover {
    background-color: var(--botao-emerg-color);
}

.modal-evento {
    display: none;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-evento-cima {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.modal-evento-cima h2 {
    font-size: 24px;
    margin: 0;
    flex: 1;
}

.modal-evento-cima .botoes-modal-evento {
    display: flex;
    gap: 10px;
    margin-top: 0;
    margin-right: 10px;
}

.modal-evento-cima .botao-modal-evento {
    padding: 8px 14px;
    font-size: 14px;
}
.modal-evento-conteudo {
    background: white;
    border: 8px solid var(--organizador-color);
    color: var(--tertiary-color);
    border-radius: 10px;
    padding: 25px;
    width: 90%;
    max-width: 600px;
    max-height: 90vh;
    overflow-y: auto;
    animation: slideDown 0.4s ease;
}

.fechar-modal-evento {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
    transition: color 0.2s;
}

.fechar-modal-evento:hover {
    color: var(--primary-color);
}
.botoes-modal-evento {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.botao-modal-evento {
    text-decoration: none;
    color: white;
    background-color: var(--botao-preto-color);
    padding: 10px 18px;
    border-radius: 5px;
    font-weight: bold;
    transition: opacity 0.2s ease;
}

.botao-modal-evento:hover {
    background-color: var(--botao-emerg-color);
}


/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

/* --------> Tabela de todos os usuários */
.todos-usuarios-container {
    width: 1100px;

    margin: 40px auto;
    margin-top: 100px;
    padding: 30px 40px;

    background-color: #fff;
    
    border: 10px solid var(--tertiary-color);
    border-radius: 7px;
    
    box-shadow: 0 4px 15px black;
}

.tabela-usuarios-titulo {
    margin-bottom: 30px;

    color: var(--tertiary-color);

    text-align: center;
}

.tabela-usuarios-titulo h1 {
    font-size: 32px;
    font-weight: 700;
}

.todos-usuarios-tabela {
    border-collapse: collapse;
}

.todos-usuarios-tabela th {
    padding: 20px 15px;

    background-color: var(--organizador-color);
    color: #ffffff;
    
    text-align: center;
    font-size: 14px;
}

.todos-usuarios-tabela td {
    padding: 14px 15px;

    border-bottom: 1.5px solid var(--organizador-color);

    text-align: center;
    font-size: 14px;
}

.todos-usuarios-tabela tr:hover {
    background-color: var(--background-box-color)
}

.todos-usuarios-tabela a.botao-tabela-usuarios {
    display: inline-block;

    padding: 8px 15px;
    margin: 5px;

    border-radius: 4px;
    color: #ffffff;

    text-decoration: none;
    font-size: 14px;

    transition: background-color 0.3s ease;
}

.todos-usuarios-tabela a.botao-tabela-usuarios {
    background-color: var(--botao-preto-color);
}

.todos-usuarios-tabela a.botao-tabela-usuarios:hover {
    background-color: var(--botao-emerg-color);
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */


/* --------> Certificados do usuário  */
.meus-certificados-container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 15px;

    background-color: none;
}

.meus-certificados-titulo {
    width: 750px;

    margin: 40px auto;

    text-align: center;
}

.meus-certificados-titulo h1 {
    color: var(--tertiary-color);

    text-align: center;
}

.meus-certificados-lista {
    display: grid;

    gap: 50px;
}

.meus-certificados-itens {
    justify-content: column;

    padding: 15px;

    background-color: white;

    border: var(--primary-color) 12px solid;
    box-shadow: 0 4px 15px black;
}

.meus-certificados-itens h1 {
    color: var(--primary-color);

    text-align: center;
    font-size: 40px;
}

.certificado-texto {
    width: 600px;

    margin: 40px auto;
}

.meus-certificados-itens p {
    text-align: center;
    font-size: 20px;
}

.certificado-participante {
    width: 600px;

    margin: 40px auto;
}

.certificado-participante h2 {
    border-bottom: 2px solid var(--tertiary-color);

    text-align: center;
    font-family: 'Allura';
    font-size: 35px;
}

.logo-assinatura {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.certificado-logo img {
    height: 80px;

    margin-left: 50px;
}

.certificado-assinatura {
    width: 350px;

    margin-right: 50px;
}

.certificado-assinatura h1 {
    font-size: 20px;
}

.certificado-assinatura h2 {
    border-bottom: 2px solid var(--tertiary-color);

    text-align: center;
    font-family: 'Allura';
    font-size: 35px;
}

.zero-certificados {
    text-align: center;
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

/* --------> Botões do organizador */
.botoes-organizador {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    
    max-width: 1100px;
    width: 95%;

    margin: 50px auto 0 auto;
    padding: 20px 40px;
}

.botao-organizador a {
    display: inline-block;
    min-width: 150px;
    padding: 13px 25px;

    color: white;
    background-color: var(--tertiary-color);

    border: none;
    border-radius: 8px;

    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;

    transform: scale(1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.botao-organizador a:hover {
    background-color: var(--botao-emerg-color);
    transform: scale(1.05);
}


/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */


/* --------> RESPONSIVIDADE (CELULAR) */
@media (max-width: 768px) {

    /* Cadastro de usuários */
    .cadastroUsu-container {
        flex-direction: column;
        align-items: center;

        width: 90%;

        padding: 20px;
    }

    .formulario-cadastroUsu {
        align-items: stretch;

        width: 100%;

        padding: 20px;
    }

    .form-cadastroUsu-linha {
        flex-direction: column;
        gap: 15px;
    }

    .form-cadastroUsu-grupo input,
    .form-cadastroUsu-grupo select {
        width: 100% !important;
    }

    .ja-possui-conta {
        margin-top: 25px;
        padding: 15px;
    }

    .ja-possui-conta h1 {
        margin-bottom: 15px;
        font-size: 20px;
    }

    .ja-possui-conta a {
        width: 100%;
        max-width: 200px;
    }


    /* Login de usuários */
    .botoes-organizador {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 90%;

        padding: 10px;
        margin-top: 30px;
        gap: 10px;
    }

    .botao-organizador a {
        width: 100%;
        max-width: 250px;

        padding: 12px 15px;

        font-size: 18px;
    }

    .login-container {
        width: 90%;
        padding: 30px 20px;
        border-width: 6px;
        margin-top: 40px;
    }

    .login-titulo h1 {
        font-size: 26px;
    }

    .formulario-login {
        gap: 25px;
    }

    .form-login-grupo {
        width: 100%;
        padding-right: 10px;
    }

    .form-login-grupo input {
        font-size: 15px;
    }

    #botao-entrar-login {
        width: 100%;
        max-width: 250px;
        font-size: 17px;
    }


    /* Header principal*/
    #header-usuario {
        flex-direction: column;
        align-items: center;

        padding: 20px;

        text-align: center;
    }

    .logo-container {
        order: 1;
        margin-bottom: 10px;
    }

    .logo-container img {
        height: 75px;
    }

    nav {
        order: 2;
        display: flex;
        justify-content: center;

        width: 100%;

        margin-bottom: 15px;
    }

    nav ul {
        flex-direction: column;
        gap: 15px;
    }

    nav a {
        font-size: 17px;
    }

    .usuario-icon-container {
        order: 3;
        position: relative;
        display: flex;
        justify-content: center;

        margin-top: 10px;
    }

    .info-usuario-container {
        position: absolute;
        top: 60px;
        right: 50%;

        width: 300px;

        opacity: 0;
        visibility: hidden;
        transform: translateX(50%);
    }

    
    /* Eventos disponíveis */
    .eventosDisp-container {
        max-width: 95%;

        margin: 20px auto;
        padding: 15px;

        border-width: 6px;
    }

    .eventosDisp-titulo h1 {
        font-size: 24px;
    }

    .eventos-lista {
        grid-template-columns: 1fr;
        gap: 55px;
    }

    .eventos-itens {
        padding: 10px;
    }

    .evento-imagem img {
        height: 180px;
    }

    .evento-botoes {
        flex-direction: column;
        gap: 10px;
    }

    .eventos-inscricao-btn,
    .botao-detalhe {
        padding: 10px;
        font-size: 16px;
    }

    .evento-modal-conteudo {
        width: 90%;
        padding: 15px;
        margin-top: 60px;
    }

    .fechar-modal {
        font-size: 24px;
        right: 15px;
    }


    /* Cadastro de eventos */
    .evento-container {
        width: 95%;
        padding: 20px;
        margin-top: 60px;
        border-width: 6px;
    }

    .cadastro-titulo h1 {
        font-size: 24px;
    }

    .form-linha {
        flex-direction: column;
        gap: 15px;
    }

    .form-grupo input {
        padding: 12px;
        font-size: 13px;
    }

    #botao-enviar {
        width: 100%;
        padding: 12px;
        font-size: 16px;
    }

    
    /* TABELA DE EVENTOS */

    .todos-eventos-container {
        width: 95%;
        padding: 15px 10px;
        margin: 40px auto;
        border-width: 5px;
    }

    .tabela-eventos-titulo h1 {
        font-size: 22px;
    }

    .todos-eventos-tabela {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        font-size: 12px;
    }

    .todos-eventos-tabela th,
    .todos-eventos-tabela td {
        padding: 8px 6px;
    }

    .botao-detalhe-tabela-evento {
        padding: 6px 10px;
        font-size: 12px;
    }

    .modal-evento-conteudo {
        width: 95%;
        max-width: none;
        max-height: 90vh;
        padding: 15px;
        border-width: 5px;
    }

    .modal-evento-cima {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .modal-evento-cima h2 {
        font-size: 18px;
    }

    .modal-evento-cima .botoes-modal-evento {
        width: 100%;
        justify-content: flex-start;
        gap: 8px;
    }

    .botao-modal-evento {
        padding: 8px 12px;
        font-size: 13px;
    }

    .fechar-modal-evento {
        font-size: 22px;
    }
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */


/* --------> Responsidivdade (Tablet) */
@media (min-width: 768px) and (max-width: 1181px) {

    /* Cadastro de usuários */
    .cadastroUsu-container {
        flex-direction: row;
        align-items: stretch;

        width: 95%;

        padding: 20px;
        gap: 20px;
    }

    .formulario-cadastroUsu {
        width: 60%;
        padding: 25px;
    }

    .form-cadastroUsu-linha {
        flex-wrap: wrap;

        align-self: stretch;

        gap: 15px;
    }

    .form-cadastroUsu-grupo input,
    .form-cadastroUsu-grupo select {
        width: 100%;
        max-width: 100%;
    }

    .ja-possui-conta {
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 40%;
    }

    .ja-possui-conta h1 {
        font-size: 22px;
    }


    /* Login */
    .botoes-organizador {
        justify-content: flex-start;

        width: 90%;

        padding: 20px 40px;
        gap: 30px;
    }

    .botao-organizador a {
        font-size: 19px;
        padding: 13px 25px;
    }

    .login-container {
        width: 70%;
        max-width: 550px;
        padding: 45px 60px;
    }

    .form-login-grupo {
        width: 100%;
        max-width: 350px;
    }

    .login-titulo h1 {
        font-size: 30px;
    }

    #botao-entrar-login {
        font-size: 17px;
        width: 180px;
    }


    /* Header principal */
    #header-usuario {
        flex-direction: column;
        align-items: center;

        padding: 20px;

        text-align: center;
    }

    .logo-container {
        order: 1;
        margin-bottom: 10px;
    }

    .logo-container img {
        height: 75px;
    }

    nav {
        order: 2;
        display: flex;
        justify-content: center;

        width: 100%;

        margin-bottom: 15px;
    }

    nav ul {
        flex-direction: column;
        gap: 15px;
    }

    nav a {
        font-size: 17px;
    }

    .usuario-icon-container {
        order: 3;
        position: relative;
        display: flex;
        justify-content: center;

        margin-top: 10px;
    }

    .info-usuario-container {
        position: absolute;
        top: 60px;
        right: 50%;
        
        width: 300px;

        opacity: 0;
        visibility: hidden;

        transform: translateX(50%);
    }
 
    
    /* Eventos disoníveis */
    .eventosDisp-container {
        max-width: 90%;

        margin: 30px auto;
        padding: 20px;
    }

    .eventosDisp-titulo h1 {
        font-size: 28px;
    }

    .eventos-lista {
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

    .evento-imagem img {
        height: 220px;
    }

    .eventos-inscricao-btn,
    .botao-detalhe {
        font-size: 15px;
        padding: 10px 15px;
    }

    .evento-modal-conteudo {
        width: 80%;
        max-width: 600px;
    }


    /* Cadastro de eventos */
    .evento-container {
        width: 80%;
        padding: 25px 30px;
    }

    .cadastro-titulo h1 {
        font-size: 28px;
    }

    .form-linha {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 15px;
    }

    .form-grupo {
        flex: 1 1 45%;
        min-width: 300px;
    }

    .form-grupo input {
        font-size: 14px;
        padding: 13px;
    }

    #botao-enviar {
        padding: 12px 30px;
        font-size: 15px;
    }


    /* Tabela de eventos */
    .todos-eventos-container {
        width: 90%;
        padding: 20px;
        border-width: 6px;
    }

    .tabela-eventos-titulo h1 {
        font-size: 26px;
    }

    .todos-eventos-tabela {
        font-size: 13px;
    }

    .todos-eventos-tabela th,
    .todos-eventos-tabela td {
        padding: 10px 8px;
    }

    .botao-detalhe-tabela-evento {
        padding: 7px 12px;
        font-size: 13px;
    }

    .modal-evento-conteudo {
        width: 85%;
        max-width: 600px;
        padding: 20px;
    }

    .modal-evento-cima h2 {
        font-size: 20px;
    }

    .botao-modal-evento {
        padding: 9px 14px;
        font-size: 13px;
    }
}


/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */


/* Responsividade para o maior IPAD */
@media (min-width: 1024px) and (max-width: 1366px) {

    /* Cadastro de usuários */
    .cadastroUsu-container {
        max-width: 1000px;

        margin-top: 130px;
        padding: 35px;
        gap: 25px;
    }

    .formulario-cadastroUsu {
        width: 58%;
        padding: 25px;
    }

    .form-cadastroUsu-grupo input,
    .form-cadastroUsu-grupo select {
        width: 100%;
        max-width: 100%;
    }

    .ja-possui-conta {
        width: 42%;
        text-align: center;
    }

    .ja-possui-conta h1 {
        font-size: 24px;
    }


    /* Login */
    .login-container {
        width: 60%;
        max-width: 500px;

        padding: 50px 60px;

        border-width: 8px;
    }

    .form-login-grupo {
        width: 100%;
        max-width: 380px;
    }

    .login-titulo h1 {
        font-size: 32px;
    }

    #botao-entrar-login {
        font-size: 18px;
        width: 180px;
    }


    /* Header principal */
    #header-usuario {
        flex-direction: column;
        align-items: center;

        padding: 20px;

        text-align: center;
    }

    .logo-container {
        order: 1;
        margin-bottom: 10px;
    }

    .logo-container img {
        height: 75px;
    }

    nav {
        order: 2;
        display: flex;
        justify-content: center;

        width: 100%;

        margin-bottom: 15px;
    }

    nav ul {
        flex-direction: column;
        gap: 15px;
    }

    nav a {
        font-size: 17px;
    }

    .usuario-icon-container {
        order: 3;
        position: relative;
        display: flex;
        justify-content: center;

        margin-top: 10px;
    }

    .info-usuario-container {
        position: absolute;
        top: 60px;
        right: 50%;
        
        width: 300px;

        opacity: 0;
        visibility: hidden;

        transform: translateX(50%);
    }


    /* Cadastro de eventos */
    .evento-container {
        width: 75%;
        padding: 30px 40px;
    }

    .cadastro-titulo h1 {
        font-size: 30px;
    }

    .form-linha {
        gap: 20px;
    }

    .form-grupo {
        flex: 1 1 30%;
        min-width: 280px;
    }

    .form-grupo input {
        font-size: 15px;
    }

    #botao-enviar {
        padding: 12px 35px;
        font-size: 16px;
    }

    
    /* Tabela de Eventos */
    .todos-eventos-container {
        width: 85%;
        padding: 25px;
        border-width: 7px;
    }

    .tabela-eventos-titulo h1 {
        font-size: 28px;
    }

    .todos-eventos-tabela {
        font-size: 14px;
    }

    .todos-eventos-tabela th,
    .todos-eventos-tabela td {
        padding: 12px 10px;
    }

    .botao-detalhe-tabela-evento {
        padding: 8px 14px;
        font-size: 14px;
    }

    .modal-evento-conteudo {
        width: 80%;
        max-width: 700px;
        padding: 25px;
    }

    .modal-evento-cima h2 {
        font-size: 22px;
    }

    .botao-modal-evento {
        padding: 10px 16px;
        font-size: 14px;
    }
}