/* Fonte do site */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Cores do site */
:root {
    --primary-color: #0d6031;
    --secondary-color: #5f9074;
    --tertiary-color: black;
    --quaternary-color: #00ff4c;
    --background-color: #e0ecef;
    --background-box-color: #dfdfdf;
    --botao-preto-color: black;
    --botao-emerg-color: #ff5757;
}

/* Reset e estilização global */
* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* Estilização do body */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: var(--background-color);
    
}

/* Estilização do header */
#header-usuario {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 40px;
    background-color: #2a2a2a;
    color: #fff;
    position: relative;
}
.logo-container {
    flex: 1;
}

#header-usuario .logo-container img {
    height: 90px;
}

#header-usuario-2 {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 40px;
    background-color: #2a2a2a;
    color: #fff;
    position: relative;
}

#header-usuario-2 .logo-container-2 img {
    height: 90px;
    justify-content: center;
}

/* Estilizando a navegação no header */

nav {
    flex: 2;
    display: flex;
    justify-content: center;
}

nav ul {
    align-items: center;
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}
nav a {
    line-height: 1.2;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s ease-in-out;
    position: relative;
    border-bottom: 4px solid transparent;
}

nav a.ativo {
    color: var(--quaternary-color); 
    border-bottom: 4px solid var(--quaternary-color); 
}

nav a:hover {
    color: var(--quaternary-color); 
}

/* Estilizando o ícone do usuário e o menu suspenso do header*/

.usuario-icon-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.usuario-icon-container img {
    border: 3px solid  white;
    border-radius: 50%;
    background-color: var(--primary-color);
    transition: transform 1s ease;
}

.usuario-icon-container img:hover {
    transform: scale(1.2);
}

.info-usuario-container {
    position: absolute;
    top: 110px;  
    right: 10px;   
    width: 400px;
    background-color: white;       
    color: black; 
    padding: 15px;
    border: var(--tertiary-color) 3px solid;
    border-radius: 10px;
    box-shadow: 0 4px 10px black;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s ease, visibility 0.5s ease;
}

.usuario-icon-container:hover .info-usuario-container, .info-usuario-container:hover {
    opacity: 1;
    visibility: visible;
    
}
.info-usuario-container h2 {
    color: var(--primary-color);
    font-size: 20px;
}

.info-usuario-container button {
    margin-top: 10px;
    padding: 8px 15px;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1);
    transition: transform 1s ease, background-color 0.3s ease; 
}

.info-usuario-container button:hover {
    background-color: var(--botao-preto-color);
    transform: scale(1.1);
}

/*-----------------------------------------------------------------------*/

/* Estilização do container de cadastro de usuários */
.cadastroUsu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 950px;
    margin: 40px auto;
    margin-top: 100px;
    background-color: var(--primary-color);
    border-radius: 7px;
    padding: 25px 25px;
    box-shadow: 0 4px 15px black;
}

.formulario-cadastroUsu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    border-radius: 10px; 
    padding: 30px;
    width: 550px;
}

/* Estilização do título do cadastro*/
.cadastroUsu-titulo {
    text-align: center;
    color: var(--primary-color)
}

.form-cadastroUsu-linha {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}


/* Estilização dos grupos das divs*/
.form-cadastroUsu-grupo {
    display: flex;
    flex-direction: column;
}

.form-cadastroUsu-grupo label {
    font-weight: 600;
    margin-bottom: 6px;
    display: inline-block;
    white-space: nowrap;
}

.form-cadastroUsu-grupo input {
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: var(--background-box-color);
    font-size: 14px;
    outline: none;
}

#campoSenhaProfessor {
    display: flex;
    flex-direction: column;
}

.form-cadastroUsu-grupo select {
    padding: 15px;
    border-radius: 10px;
    width: 227px;
    border: none;
    background-color: var(--background-box-color);
    font-size: 14px;
    outline: none;
}

.botao-enviar-cadastroUsu{
    display: flex;
    justify-content: center;
}

#botao-enviar-cadastroUsu {
    margin-top: 30px;
    padding: 15px 25px;
    border-radius: 10px;
    width: 145px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1);
    transition: transform 1s ease, background-color 0.3s ease; 
}

#botao-enviar-cadastroUsu:hover {
    background-color: var(--botao-emerg-color);
    transform: scale(1.1);
}

.ja-possui-conta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.ja-possui-conta h1 {
    text-align: center;
    color: white;
    font-size: 25px;
}

.ja-possui-conta a {
    color: white;
    padding: 10px 40px;
    border: 3px solid white;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transform: scale(1);
    transition: transform 1s ease, background-color 0.3s ease; 
}

.ja-possui-conta a:hover {
    background-color: var(--botao-preto-color);
    border: 3px solid var(--botao-preto-color);
    transform: scale(1.1);
}


/*-----------------------------------------------------------------------*/

/* Estilização do container de login */

.login-container {
    max-width: 1200px;
    width: 450px;
    margin: 40px auto;
    margin-top: 100px;
    background-color: white;
    border: 10px solid var(--primary-color);
    border-radius: 7px;
    padding: 50px 70px;
    box-shadow: 0 4px 15px black;
}

/* Estilização do título do login*/
.login-titulo {
    text-align: center;
    margin-bottom: 30px;
    color: var(--primary-color)
}

.login-titulo h1 {
    font-size: 32px;
    font-weight: 700;
}

/* Estilização do formulário de login */
.formulario-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.form-login-grupo {
    display: flex;
    align-items: center;
    background-color: var(--background-box-color);
    width: 330px;
    border-radius: 10px;
    
}

.form-login-grupo label {
    font-weight: 600px;
    margin-bottom: 6px;
    display: inline-block;
    white-space: nowrap;
}

.form-login-grupo input {
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: var(--background-box-color);
    font-size: 14px;
    outline: none;
}

/* Estilização do botão de entrar do login*/


#botao-entrar-login {
    margin-top: 30px;
    align-self: self-start;
    padding: 10px 25px;
    border-radius: 10px;
    width: 150px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1);
    transition: transform 1s ease, background-color 0.3s ease; 
}

#botao-entrar-login:hover {
    background-color: var(--botao-preto-color);
    transform: scale(1.1);
}
/*-----------------------------------------------------------------------*/

/* Estilização do container de editar perfil*/

.editar-perfil-container {
    max-width: 1200px;
    width: 530px;
    margin: 40px auto;
    background-color: white;
    border: 10px solid var(--tertiary-color);
    border-radius: 7px;
    padding: 50px 70px;
    box-shadow: 0 4px 15px black;
}

/* Estilização do título do editar perfil*/
.editar-perfil-titulo {
    text-align: center;
    margin-bottom: 30px;
    color: var(--tertiary-color)
}

/* Estilização do formulário de editar perfil */
.formulario-editar-perfil {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.formulario-editar-perfil label {
    font-weight: 600;
    margin-bottom: 6px;
    display: inline-block;
    white-space: nowrap;
}

.formulario-editar-perfil input {
    width: 370px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: var(--background-box-color);
    font-size: 14px;
    outline: none;
}

/* Estilização do botão de salvar alterações */
.botao-salvar-editar-perfil button {
    margin-top: 30px;
    align-self: self-start;
    padding: 10px 20px;
    border-radius: 10px;
    width: 180px;
    background-color: var(--botao-preto-color);
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1);
    transition: transform 1s ease, background-color 0.3s ease; 
}

.botao-salvar-editar-perfil button:hover {
    background-color: var(--botao-emerg-color);
    transform: scale(1.1);
}

/*-----------------------------------------------------------------------*/

/* Estilização do container de criaçao de eventos */
.evento-container {
    max-width: 1200px;
    width: 900px;
    margin: 40px auto;
    margin-top: 100px;
    background-color: white;
    border: 10px solid var(--primary-color);
    border-radius: 7px;
    padding: 30px 40px;
    box-shadow: 0 4px 15px black;
}

/* Estilização do título do cadastro*/ 
.cadastro-titulo {
    text-align: center;
    margin-bottom: 30px;
    color: var(--primary-color)
}

.cadastro-titulo h1 {
    font-size: 32px;
    font-weight: 700;
}

/* Estilização do formulário */
.formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-linha {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

/* Estilização dos grupos das divs*/
.form-grupo {
    display: flex;
    flex-direction: column;
}

.form-grupo label {
    font-weight: 600;
    margin-bottom: 6px;
    display: inline-block;
    white-space: nowrap;
}

.form-grupo input {
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: var(--background-box-color);
    font-size: 14px;
    outline: none;
}

.form-control-sm-p {
    width: 130px;
}

.form-control-sm-v {
    width: 95px;
}

/* Estilização do botão de enviar */
.botao-enviar{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#botao-enviar {
    align-self: flex-start;
    padding: 10px 25px;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1);
    transition: transform 1s ease, background-color 0.3s ease; 
}

#botao-enviar:hover {
    background-color: rgb(0, 0, 0);
    transform: scale(1.1);
}

/*-----------------------------------------------------------------------*/

/* Estilização dos eventos disponíveis para os usuários */

.eventosDisp-container {
    max-width: 1000px;
    margin: 40px auto;
    margin-top: 100px;
    background-color: white;
    border: 10px solid var(--primary-color);
    border-radius: 7px;
    padding: 20px 40px;
    box-shadow: 0 4px 15px black;
}

/* Estilização do título dos eventos disponíveis*/
.eventosDisp-titulo {
    text-align: center;
    margin-bottom: 30px;
    color: var(--primary-color)
}

.eventosDisp-titulo h1 {
    font-size: 32px;
    font-weight: 700;
}

/* Estilização do quadro de eventos disponíveis */
.eventosDisp-quadro {
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 15px
}

/* Estilização da tabela de eventos disponíveis */
.eventos-lista {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* Estilização de cada evento disponível */
.eventos-itens {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}

.eventos-itens h3 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}

.eventos-itens p {
    margin: 5px 0;
}

.eve-btn {
    display: flex;
    justify-content: center;
}         

/* Estilização do botão de inscrever-se */
.eventos-inscricao-btn {
    margin-top: 10px;
    font-weight: bold;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 1s ease, background-color 0.3s ease; 
}

.eventos-inscricao-btn:hover {
    background-color: var(--botao-preto-color);
    transform: scale(1.1);
}

/*-----------------------------------------------------------------------*/

/* Tabela de todos os eventos cadastrados */
.todos-eventos-container {
    margin: 40px auto;
    background-color: #fff;
    margin-top: 100px;
    width: 1500px;
    max-width: 1560px;
    border: 10px solid var(--tertiary-color);
    border-radius: 7px;
    padding: 20px 40px;
    box-shadow: 0 4px 15px black;
}

.tabela-eventos-titulo {
    text-align: center;
    margin-bottom: 30px;
    color: var(--tertiary-color);
}

.tabela-eventos-titulo h1 {
    font-size: 32px;
    font-weight: 700;
}

/* Tabela */
.todos-eventos-tabela {
    border-collapse: collapse;
}

.todos-eventos-tabela th {
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 20px 15px;
    text-align: center;
    font-size: 14px;
}

/* Linhas */
.todos-eventos-tabela td {
    padding: 5px 15px;
    text-align: center;
    font-size: 14px;
    border-bottom: 1.5px solid var(--secondary-color);
}

.todos-eventos-tabela tr:hover {
    background-color: var(--background-box-color)
}

.todos-eventos-tabela a.botao-tabela-eventos {
    display: inline-block;
    padding: 8px 15px;
    margin: 5px;
    text-decoration: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.todos-eventos-tabela a.botao-tabela-eventos {
    background-color: var(--botao-preto-color);
}

.todos-eventos-tabela a.botao-tabela-eventos:hover {
    background-color: var(--botao-emerg-color);
}

/* ----------------------------------------------------------------------- */

/* Tabela de todos os usuarios cadastrados */

.todos-usuarios-container {
    margin: 40px auto;
    background-color: #fff;
    margin-top: 100px;
    width: 1100px;
    border: 10px solid var(--tertiary-color);
    border-radius: 7px;
    padding: 30px 40px;
    box-shadow: 0 4px 15px black;
}

.tabela-usuarios-titulo {
    text-align: center;
    margin-bottom: 30px;
    color: var(--tertiary-color);
}

.tabela-usuarios-titulo h1 {
    font-size: 32px;
    font-weight: 700;
}

/* Tabela */
.todos-usuarios-tabela {
    border-collapse: collapse;
}

.todos-usuarios-tabela th {
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 20px 15px;
    text-align: center;
    font-size: 14px;
}

/* Linhas */
.todos-usuarios-tabela td {
    padding: 14px 15px;
    text-align: center;
    border-bottom: 1.5px solid var(--secondary-color);
    font-size: 14px;
}

.todos-usuarios-tabela tr:hover {
    background-color: var(--background-box-color)
}

.todos-usuarios-tabela a.botao-tabela-usuarios {
    display: inline-block;
    padding: 8px 15px;
    margin: 5px;
    text-decoration: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.todos-usuarios-tabela a.botao-tabela-usuarios {
    background-color: var(--botao-preto-color);
}

.todos-usuarios-tabela a.botao-tabela-usuarios:hover {
    background-color: var(--botao-emerg-color);
}