/* Fonte do site */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Cores do site */
:root {
    --primary-color: #0d6031;
    --secondary-color: #5f9074;
    --background-color: #e0ecef;
    --background-box-color: #dfdfdf;
    --botao-preto-color: black;
    --botao-esgotado-color: #ff5757;
}

/* Reset e estilização global */
* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* Estilização do body */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: var(--background-color);
    
}

/* Estilização do header */
#header-usuario {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 40px;
    background-color: #2a2a2a;
    color: #fff;
    position: relative;
}
.logo-container {
    flex: 1;
}

#header-usuario .logo-container img {
    height: 90px;
}

/* Estilizando a navegação no header */

nav {
    flex: 2;
    display: flex;
    justify-content: center;
}

nav ul {
    align-items: center;
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}
nav a {
    line-height: 1.2;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s ease-in-out;
    position: relative;
    border-bottom: 4px solid transparent;
}

nav a.ativo {
    color: #ff943c; 
    border-bottom: 4px solid #ff943c;
}

nav a:hover {
    color: #ff943c; 
}

/* Estilizando o ícone do usuário e o menu suspenso do header*/

.usuario-icon-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.usuario-icon-container img {
    border: 3px solid  white;
    border-radius: 50%;
    background-color: var(--primary-color);
    transition: transform 1s ease;
}

.usuario-icon-container img:hover {
    transform: scale(1.2);
}

.info-usuario-container {
    position: absolute;
    top: 110px;  
    right: 10px;   
    width: 400px;
    background-color: white;       
    color: black; 
    padding: 15px;
    border: black 3px solid;
    border-radius: 10px;
    box-shadow: 0 4px 10px black;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s ease, visibility 0.5s ease;
}

.usuario-icon-container:hover .info-usuario-container, .info-usuario-container:hover {
    opacity: 1;
    visibility: visible;
    
}
.info-usuario-container h2 {
    color: var(--primary-color);
    font-size: 20px;
}

.info-usuario-container button {
    margin-top: 10px;
    padding: 8px 15px;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1);
    transition: transform 1s ease, background-color 0.3s ease; 
}

.info-usuario-container button:hover {
    background-color: var(--botao-preto-color);
    transform: scale(1.1);
}

/*-----------------------------------------------------------------------*/

/* Estilização do container de criaçao de eventos */
.evento-container {
    max-width: 1200px;
    width: 900px;
    margin: 40px auto;
    background-color: white;
    border: 10px solid var(--primary-color);
    border-radius: 7px;
    padding: 30px 40px;
    box-shadow: 0 4px 15px black;
}

/* Estilização do título do cadastro*/ 
.cadastro-titulo {
    text-align: center;
    margin-bottom: 30px;
    color: var(--primary-color)
}

.cadastro-titulo h1 {
    font-size: 32px;
    font-weight: 700;
}

/* Estilização do formulário */
.formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-linha {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

/* Estilização dos grupos das divs*/
.form-grupo {
    display: flex;
    flex-direction: column;
}

.form-grupo label {
    font-weight: 600;
    margin-bottom: 6px;
    display: inline-block;
    white-space: nowrap;
}

.form-grupo input {
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: var(--background-box-color);
    font-size: 14px;
    outline: none;
}

.form-control-sm-p {
    width: 130px;
}

.form-control-sm-v {
    width: 95px;
}

/* Estilização do botão de enviar */
.botao-enviar{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#botao-enviar {
    align-self: flex-start;
    padding: 10px 25px;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1);
    transition: transform 1s ease, background-color 0.3s ease; 
}

#botao-enviar:hover {
    background-color: rgb(0, 0, 0);
    transform: scale(1.1);
}

/*-----------------------------------------------------------------------*/

/* Estilização do container de login */

.login-container {
    max-width: 1200px;
    width: 450px;
    margin: 40px auto;
    background-color: white;
    border: 10px solid var(--primary-color);
    border-radius: 7px;
    padding: 50px 70px;
    box-shadow: 0 4px 15px black;
}

/* Estilização do título do login*/
.login-titulo {
    text-align: center;
    margin-bottom: 30px;
    color: var(--primary-color)
}

.login-titulo h1 {
    font-size: 32px;
    font-weight: 700;
}

/* Estilização do formulário de login */
.formulario-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.form-login-grupo {
    display: flex;
    align-items: center;
    background-color: var(--background-box-color);
    width: 330px;
    border-radius: 10px;
    
}

.form-login-grupo label {
    font-weight: 600px;
    margin-bottom: 6px;
    display: inline-block;
    white-space: nowrap;
}

.form-login-grupo input {
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: var(--background-box-color);
    font-size: 14px;
    outline: none;
}

/* Estilização do botão de entrar do login*/


#botao-entrar-login {
    margin-top: 30px;
    align-self: self-start;
    padding: 10px 25px;
    border-radius: 10px;
    width: 150px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1);
    transition: transform 1s ease, background-color 0.3s ease; 
}

#botao-entrar-login:hover {
    background-color: var(--botao-preto-color);
    transform: scale(1.1);
}

/*-----------------------------------------------------------------------*/

/* Estilização dos eventos disponíveis para os usuários */

.eventosDisp-container {
    max-width: 1000px;
    margin: 40px auto;
    margin-top: 100px;
    background-color: white;
    border: 10px solid var(--primary-color);
    border-radius: 7px;
    padding: 20px 40px;
    box-shadow: 0 4px 15px black;
}

/* Estilização do título dos eventos disponíveis*/
.eventosDisp-titulo {
    text-align: center;
    margin-bottom: 30px;
    color: var(--primary-color)
}

.eventosDisp-titulo h1 {
    font-size: 32px;
    font-weight: 700;
}

/* Estilização do quadro de eventos disponíveis */
.eventosDisp-quadro {
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 15px
}

/* Estilização da tabela de eventos disponíveis */
.eventos-lista {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* Estilização de cada evento disponível */
.eventos-itens {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}

.eventos-itens h3 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}

.eventos-itens p {
    margin: 5px 0;
}

.eve-btn {
    display: flex;
    justify-content: center;
}         

/* Estilização do botão de inscrever-se */
.eventos-inscricao-btn {
    margin-top: 10px;
    font-weight: bold;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 1s ease, background-color 0.3s ease; 
}

.eventos-inscricao-btn:hover {
    background-color: var(--botao-preto-color);
    transform: scale(1.1);
}