{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}Header 1{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'assets/logos/logo-site.png' %}">
</head>
<body>
    
    <header id="header-usuario">
        <div class="logo-container">
            <img src="{% static 'assets/logos/atena_logo.png' %}" alt="Logo Atena" class="logo_atena">
        </div>

        <nav>
            <ul>
                <li>
                    <a href="{% url 'sobre' %}" id="nav-sobre">Sobre</a>
                </li>
                <li>
                    <a href="{% url 'inscricao' %}" id="nav-eventos" 
                        class="{% if 'inscricao' in request.path %}ativo{% endif %}">Eventos
                    </a>
                </li>
                <li>
                    <a href="{% url 'meus_certificados' %}" id="nav-certif" 
                        class="{% if 'meus_certificados' in request.path %}ativo{% endif %}">Certificados
                    </a>
                </li>
                <li>
                    <a href="{% url 'meus_eventos' %}" id="nav-certif" 
                        class="{% if 'meus_eventos' in request.path %}ativo{% endif %}">Meus eventos
                    </a>
                </li>
                {% if usuario.tipo == "organizador" %}
                <li>
                    <a href="{% url 'registro' %}" id="nav-certif" 
                        class="{% if 'registro' in request.path %}ativo{% endif %}">Registros
                    </a>
                </li>
                <li>
                    <a href="{% url 'ver_certs' %}">Emissão</a>
                </li>
                {% endif %}
            </ul>
        </nav>

        <div class="usuario-icon-container">
            <img src="{% static 'assets/icons/usuario-icon-branco.png' %}" alt="icon usuario" width="40px" height="40px">

            <div class="info-usuario-container">
                <h2>Bem vindo(a), {{ usuario.nome }} </h2>
                <p><strong>Telefone: </strong>{{ usuario.telefone }}</p>
                <p><strong>Senha: </strong>***</p>
                <p><strong>Email: </strong>{{ usuario.email }}</p>
 
                <a href="{% url 'editar_usuario' %}">
                    <button class="editar_usuario-btn">Editar perfil </button>
                </a>
                
                <a href="{% url 'deletar_usuario' %}">
                    <button class="editar_usuario-btn">Deletar Perfil</button>
                </a>
                
                <a href="{% url 'logout' %}">
                    <button class="editar_usuario-btn">Sair</button>
                </a>
            </div>
        </div>
    </header>   

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <script src="{% static 'js/script.js' %}"></script>

    <footer id="footer-container">
        <div class="footer-info">
            <p>&copy; {% now "Y" %} Casa de Atena. Todos os direitos reservados.</p>

            <div class="footer-email">
                <img src="{% static 'assets/icons/email-icon.png' %}" alt="Icon Email" width="20px" height="20px"> 
                <a href="mailto:casadeatena@gmail.com">casadeatena@gmail.com</a>
            </div>
            <ul class="footer-links">
                <li><a href="{% url 'inscricao' %}">Eventos</a></li>
                <li><a href="{% url 'meus_certificados' %}">Certificados</a></li>
            </ul>
        </div>

        <div class="logo-container-footer">
            <img src="{% static 'assets/logos/atena_logo.png' %}" alt="Logo Atena" class="logo_atena" width="120px">
        </div>
    </footer>
</body>
</html>