{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}Header 2{% endblock %}</title>
</head>
<body>
    
    <header id="header-usuario-2">
        <div class="logo-container-2">
            <img src="{% static 'assets/logos/atena_logo.png' %}" alt="Logo Atena" class="logo_atena">
        </div>
    </header>   

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <script src="{% static 'js/script.js' %}"></script>

    <footer id="footer-container">
        <div class="footer-info">
            <p>&copy; {% now "Y" %} Casa de Atena. Todos os direitos reservados.</p>

            <div class="footer-email">
                <img src="{% static 'assets/icons/email-icon.png' %}" alt="Icon Email" width="20px" height="20px"> 
                <a href="mailto:casadeatena@gmail.com">casadeatena@gmail.com</a>
            </div>
            <ul class="footer-links">
                <li><a href="{% url 'inscricao' %}">Eventos</a></li>
                <li><a href="{% url 'meus_certificados' %}">Certificados</a></li>
            </ul>
        </div>

        <div class="logo-container-footer">
            <img src="{% static 'assets/logos/atena_logo.png' %}" alt="Logo Atena" class="logo_atena" width="120px">
        </div>
    </footer>
</body>
</html>