{% extends 'usuarios/base2.html' %}
{% load static %}

{% block title %}Emissão de Certficados - Casa de Atena{% endblock %}

{% block content %} 

<div class="botao-voltar">
  <a href = "{% url 'inscricao' %}">
    Voltar
  </a>
</div>

<div class="botao-cadastrar-eventos">
  <a href = "{% url 'ev' %}">
    Cadastro de eventos
  </a>
</div>

<div class="botao-visualizar-eventos">
  <a href = "{% url 'even' %}">
    Visualizar todos os eventos
  </a>
</div>

<div class="botao-visualizar-usuarios">
  <a href = "{% url 'listagem_usuarios' %}">
    Visualizar todos os usuários
  </a>
</div>



<div class="emissao-certi-container">
    <div class="emissao-certi-titulo">
        <h1>Emissão de certificados</h1>
    </div>

    <div class="emissao-certi-quadro">
        <div class="eventos-lista">
          {% for evento in eventos %}
            <div class="eventos-itens">
              <h3>{{ evento.nome }} - {{ evento.tipoevento }}</h3>
              <p><strong>Local:</strong> {{ evento.local }}</p> 
              <p><strong>Data:</strong> {{ evento.dataI }} até {{ evento.dataF }}</p> 
              <p><strong>Horário:</strong> {{ evento.horarioI }}h às {{ evento.horarioF }}h</p> 
              <p><strong>Vagas disponíveis:</strong> {{ evento.vagas }}</p>  

              <form method="post" action="{% url 'emitir_certificados' evento.id_evento %}">
                {% csrf_token %}
                <div class="botao-ctf"> 
                  <button type="submit" class="botao-emissao-ctf">Emitir certificados</button>
                </div>
              </form>
            
              <form method="post" action="{% url 'deletar_evento' evento.id_evento %}">
                {% csrf_token %}
                <div class="botao-ctf"> 
                  <button type="submit" class="botao-emissao-ctf">Deletar evento</button>
                </div>
              </form>

            </div>
          {% endfor %}
        </div>  
    </div>

{% endblock %}   