{% extends 'usuarios/base.html' %}
{% load static %}

{% block title %}Deletar Perfil - Casa de Atena{% endblock %}

{% block content %} 

<form method="post">
    {% csrf_token %}
    <section class="botoes-organizador">
        <div class="botao-organizador">
                <a href = "{% url 'inscricao' %}">
                    Voltar
                </a>
        </div>
    </section>

    <div class="deletar-perfil-container">
        <div class="deletar-perfil-titulo">
            <h1>Deletar Perfil</h1>
        </div>

        <div class="formulario-deletar-perfil">
            <div class="form-ep-grupo">
                <label for="senha">Senha</label>
                <input type="text" name="senha" required placeholder="Digite a senha para deletar">
            </div>
          
            <div class="botao-salvar-deletar-perfil">
                <button type="submit">Confirmar</button>
            </div>
        </div>
    </div>
</form>

{% endblock %}