{% extends 'usuarios/base2.html' %}
{% load static %}

{% block title %}Cadastro de Eventos - Casa de Atena{% endblock %}

{% block content %} 

<section class="botoes-organizador">
  <div class="botao-organizador">
    <a href = "{% url 'ver_certs' %}">
      Voltar
    </a>
  </div>
</section>

<form action = "{% url 'editar_evento' pk=evento.id_evento %}" method = "post">
    {% csrf_token %}

    <div class="evento-container" style="background-color: rgb(151, 151, 154);">
        <div class="cadastro-titulo">
            <h1>Editar evento</h1>
        </div>

        <div class="formulario">
            <div class="form-linha">
                <div class="form-grupo">
                    <label>Nome do evento</label>
                    <input type="text" class="form-control-sm" name="nome" value="{{ evento.nome }}" required>
                </div>   

                <div class="form-grupo">
                    <label for="tipo_evento">Tipo do evento</label>
                    <input type="text" class="form-control-sm" name="tipo_evento" value="{{ evento.tipoevento }}" required>
                </div>  

                <div class="form-grupo">
                    <label for="local">Local</label>
                    <input type="text" class="form-control-sm" name="local" value="{{ evento.local }}" required>
                </div>
            </div>
            
            <div class="form-linha">
                <div class="form-grupo">
                    <label for="dataI">Data inicial</label>
                    <input type="date" class="form-control-sm" name="dataI" value="{{ evento.dataI|date:'Y-m-d' }}" min="{% now 'Y-m-d' %}" required>
                </div>

                <div class="form-grupo">
                    <label for="dataF">Data final</label>
                    <input type="date" class="form-control-sm" name="dataF" value="{{ evento.dataF|date:'Y-m-d' }}" min="{% now 'Y-m-d' %}" required>
                </div>

                <div class="form-grupo">
                    <label for="organResp">Organizador responsável</label>
                    <input type="text" class="form-control-sm" name="organResp" value="{{ evento.organResp }}" required>
                </div>
            </div>
            
            <div class="form-linha">
                <div class="form-grupo">
                    <label for="horarioI">Horário inicial</label>
                    <input type="time" class="form-control-sm" name="horarioI" value="{{ evento.horarioI }}" required>
                </div>

                <div class="form-grupo">
                    <label for="horarioF">Horário final</label>
                    <input type="time" class="form-control-sm" name="horarioF" value="{{ evento.horarioF }}" required>
                </div>

                <div class="form-grupo">
                    <label for="quantPart">Nº Participantes</label>
                    <input type="number" class="form-control-sm" name="quantPart" value="{{ evento.quantPart }}" required>
                </div>
            </div>
            
            <div class="form-linha">
                <div class="form-grupo">
                    <label for="vagas">Nº vagas</label>
                    <input type="number" class="form-control-sm" name="vagas" value="{{ evento.vagas }}" required>
                </div>

                <div class="form-grupo">
                    <label for="assinatura">Assinatura</label>
                    <input type="text" class="form-control-sm" name="assinatura" value="{{ evento.assinatura }}" required>
                </div>  

                <div class="form-grupo">
                    <label for="horas">Horas complementares: </label>
                    <input type="number" class="form-control-sm" name="horas" value="" oninput="validity.valid||(value='');" >
                </div>
            </div>
                
                <div class="form-grupo">
                    <label for="descricao">Descrição: </label>
                    <input type="text" class="form-control-sm" name="descricao" value="{{ evento.descricao }}" required >
                </div>

            <div class="botao-enviar">
                <button type="submit" class="form-control-sm" id="botao-enviar">Salvar alterações</button>
            </div>
        </div>
    </div>
</form>

{% endblock %}