{% extends 'usuarios/base.html' %}
{% load static %}

{% block title %}Editar Perfil - Casa de Atena{% endblock %}

{% block content %} 

<form method="post">
    {% csrf_token %}
    <div class="editar-perfil-container">
      <div class="editar-perfil-titulo">
          <h1>Editar Perfil</h1>
      </div>

      <div class="formulario-editar-perfil">
          <div class="form-ep-grupo">
              <label for="nome">Nome</label>
              <input type="text" name="nome" value="{{ usuario.nome }}" required>
          </div>

          <div class="form-ep-grupo">
              <label for="telefone">Telefone</label>
              <input type="text" name="telefone" value="{{ usuario.telefone }}" required>
          </div>

          <div class="form-ep-grupo">
              <label for="senha">Senha</label>
              <input type="text" name="senha" value="{{ usuario.senha }}" required>
          </div>
          
          <div class="botao-salvar-editar-perfil">
              <button type="submit">Salvar alterações</button>
          </div>
      </div>
    
    </div>
</form>

{% endblock %}
