<h1>Lista de eventos disponíveis</h1>
<ul>
  {% for evento in eventos %}
    <li>
      <strong>{{ evento.nome }}</strong> - {{ evento.tipoevento }}<br>
      Local: {{ evento.local }}<br>
      Data: {{ evento.dataI }} até {{ evento.dataF }}<br>
      Horário: {{ evento.horarioI }} às {{ evento.horarioF }}<br>
      Vagas disponíveis: {{ evento.vagas }}

      {% if evento.id_evento in inscritos_ids %}
        <span style="color: green; font-weight: bold;">✔️ Já inscrito</span>
      {% else %}
        <form method="post" action="{% url 'inscricao_evento' usuario.id_usuario evento.id_evento %}">
          {% csrf_token %}
          <button type="submit">Inscrever-se</button>
        </form>
      {% endif %}
    </li>
    <hr>
  {% endfor %}
</ul>
