{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Eventos</title>
</head>

<body>
    
<div class="eventosDisp-container">
    <div class="eventosDisp-titulo">
        <h1>Eventos disponíveis</h1>
    </div>

    <div class="eventosDisp-quadro">
        <div class="eventos-lista">
            {% for evento in eventos %}
                <div class="eventos-itens">
                    <h3>{{ evento.nome }} - {{ evento.tipoevento }}</h3>
                    <p><strong>Local:</strong> {{ evento.local }}</p> 
                    <p><strong>Data:</strong> {{ evento.dataI }} até {{ evento.dataF }}</p> 
                    <p><strong>Horário:</strong> {{ evento.horarioI }}h às {{ evento.horarioF }}h</p> 

                    {% if evento.id_evento in inscritos %}
                        <span style="color: green; font-weight: bold;">✅ Já inscrito</span>
                    {% else %}
                        <form method="post" action="{% url 'inscricao_evento' usuario.id_usuario evento.id_evento %}">
                            {% csrf_token %}
                            <div class="eve-btn"> 
                                <button type="submit" class="eventos-inscricao-btn">Inscrever-se</button>
                            </div>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}        
        </div>

    </div>

</div>

</body>
</html>


