{% extends 'usuarios/base.html' %}
{% load static %}

{% block title %}Meus Certificados - Casa de Atena{% endblock %}

{% block content %} 

    <h1>Certificados de {{ usuario.nome }}</h1>

    {% if certificados %}
        <ul>
        {% for cert in certificados %}
            <li>
                <strong>Evento:</strong> {{ cert.evento_id.nome }} <br>
                <strong>Participante:</strong> {{ cert.usuario_id.nome }} <br>
                <strong>Horas complementares:</strong> {{ cert.horas }} <br>
                <strong>Assinado por:</strong> {{ cert.assinatura }} <br>
                ---------------------------------------------------
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Você ainda não possui certificados emitidos.</p>
    {% endif %}

{% endblock %}    
