<div class = "container"> 
    <table> 
        <tr> 
            <th>ID</th>
            <th>Nome</th>
            <th>Tipo do evento</th>
            <th>Data de início</th>
            <th>Data de término</th>
            <th>Horário de início</th>
            <th>Horário de término</th>
            <th>Local</th>
            <th>Quantidade de participantes</th>
            <th>Organizador responsável</th>
            <th>Vagas</th>
        </tr>
        {% for evento in eventos %}
        <tr>
            <td>{{evento.id_evento}} </td>
            <td>{{evento.nome}} </td>
            <td>{{evento.tipoeventos}} </td>
            <td>{{evento.dataI}} </td>
            <td>{{evento.dataF}} </td>
            <td>{{evento.horarioI}} </td>
            <td>{{evento.horarioF}} </td>
            <td>{{evento.local}} </td>
            <td>{{evento.quantPart}} </td>
            <td>{{evento.organResp}} </td>
            <td>{{evento.vagas}} </td>
        
            <td> 
                <a href = "{% url 'deletar_evento' evento.id_evento %}" class = "btn btn-danger">Deletar</a>
            </td>
        </tr>
        {% endfor %}
    </table>

</div>